.header {
    position: fixed;
    /* width: 100%; */
    min-height: 65px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main {
    max-width: 81.25rem;
    margin: 0 auto;
}